.pageContainer {
    margin-top: 20px;
}
.infoCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px 0px;
}
.selfInfo {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.selfInfo div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selfData {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.infoCard h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.selfInfo p {
    border: 1px solid rgb(209, 209, 209);
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}
.selfInfo p:nth-child(2) {
    margin-bottom: 20px;
}

.selfInfo p span {
    margin-left: 5px;
    font-weight: 600;
}
.hazardous {
    border: 2px solid #e74c3c !important;
}
.safe {
    border: 2px solid #27ae60 !important;
}

.biggestAsteroidImg {
    width: 300px;
    height: 300px
}
.biggerAsteroidImg {
    width: 200px;
    height: 200px
}
.smallAsteroidImg {
    width: 100px;
    height: 100px;
}
.approachInfo {
    padding: 20px 10px;
    display: flex;
}
.approachInfo div {
    width: 50%;
    margin-right: 10px;
    height: 300px;
}

.approachInfo div:last-child {
    margin-right: 0;
}
@media (max-width: 582px) {
    .approachInfo {
        flex-direction: column;
    }
    .approachInfo div {
        margin-right: 0;
    }
    .selfInfo p {
        padding: 10px;
    }
    .approachInfo div {
        width: 100%;
    }
    .approachInfo div:last-child {
        margin-top: 50px;
    }
    .biggestAsteroidImg {
        width: 200px;
        height: 200px
    }
    .biggerAsteroidImg {
        width: 175px;
        height: 175px
    }
    .smallAsteroidImg {
        width: 100px;
        height: 100px;
    }
    
}
@media (max-width: 425px) {
    .selfInfo {
        flex-direction: column;
        height: 100%;
    }
    .selfInfo p {
        margin-top: 20px;
    }
}