.item {
    width: 100%;
    display: flex;
    margin-top: 16px;
    position: relative;
    border: 1px solid #000;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    padding: 24px;
    padding-bottom: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #CFF37D 0%, #7DE88C 100%);
}
.hazardous {
    background: linear-gradient(90deg, #FFB199 0%, #FF0844 100%);
}
.item img {
    position: absolute;
}

.asteroidImg {
    top: 14%;
    left: 13%;
}
.biggerAsteroidImg {
    width: 190px;
    height: 190px;
    left: 8%;
    top: -38%;
}
.biggestAsteroidImg {
    width: 598px;
    height: 607px;
    left: -10%;
    top: -230%;
}
.dinoImg {
    bottom: 0;
    z-index: 1;
    left: 16px;
}

.link {
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    color: #000;
}
.data {
    z-index: 2;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    width: 52%;
}
.info ul {
    margin-top: 16px;
}
.info ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.actions {
    text-align: center;
}
.rate p{
    margin-bottom: 10px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .imgContainer {
        height: 200px;
        position: relative;
        width: 100%;
    }
    .asteroidImg {
        top: 10px;
        left: 20%;
        width: 100px;
    }
    .biggerAsteroidImg {
        width: 200px;
        top: -40%;
        left: 10%;
    }
    .biggestAsteroidImg {
        width: 400px;
        top: -185%;
        left: 0;
    }
    .dinoImg {
        left: 0;
        transform: scaleX(-1) translateX(-500px);
    }
    .item {
        flex-direction: column;
        margin: 20px auto;
        padding: 0;
    }
    .data {
        background-color: #fff;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding: 20px;
    } 
    .info {
        width: 100%;
        position: relative;
    }
    .link  {
        position: absolute;
        top: -55%;
    }
    .actions {
        width: 100%;
    }
}

@media (max-width: 582px) {
    .dinoImg {
        transform: scaleX(-1) translateX(-340px);
    }
}

@media (max-width: 425px) {
    .imgContainer {
        height: 145px;
    }
    .asteroidImg {
        width: 71px;
        top: 10%;
        left: 10%;
    }
    .biggerAsteroidImg {
        width: 120px;
        top: -50%;
        left: 5%;
    }
    .biggestAsteroidImg {
        width: 338px;
        top: -270%;
        left: -10%;
    }
    .data {
        padding: 10px;
    }
    .dinoImg {
        width: 40px;
        transform: scaleX(-1) translateX(-250px);
    }
    .link  {
        top: -40%;
    }
}

